################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ImLang/bin/Debug/net6.0
/ImLang/obj
/src.bak
